<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE ZHIQIM-CONTEXT PUBLIC "-//ZHIQIM //DTD Zhiqim-Context Configuration 1.4.1//EN" "http://zhiqim.org/xmldtds/zhiqim_context_1_4_1.dtd">
<zhiqim-context>
    
    <!-- 组件配置 -->
    <component name="管理台" path="/org/zhiqim/manager/resource"/>
    <component name="项目管理" path="/org/zhiqim/project/resource"/>

    <!-- 属性配置 -->
    <attribute name="系统名称" key="name" value="知启蒙代码仓库"/>
    <attribute name="系统版本" key="version" value="V1.4.1"/>
    
    <!-- 拦截器 -->
    <interceptor name="检查后端仓库拦截器" key="chkGitsoloRepo" class="org.zhiqim.gitsolo.GitsoloRepoInterceptor"/>
    <interceptor name="检查前端更新拦截器" key="chkGitsoloUpdate" class="org.zhiqim.gitsolo.GitsoloUpdateInterceptor"/>
    <interceptor name="检查前端提交拦截器" key="chkGitsoloCommit" class="org.zhiqim.gitsolo.GitsoloCommitInterceptor"/>
    
    <!-- 前端 -->
    <action name="查询引用表" interceptor="chkGitsoloUpdate" path="/gitsolo/*/info/refs" class="org.zhiqim.gitsolo.portal.InfoRefsAction"/>
    <action name="上传包处理" interceptor="chkGitsoloUpdate" path="/gitsolo/*/git-upload-pack" class="org.zhiqim.gitsolo.portal.UploadPackAction"/>
    <action name="接收包处理" interceptor="chkGitsoloCommit" path="/gitsolo/*/git-receive-pack" class="org.zhiqim.gitsolo.portal.ReceivePackAction"/>
    
    <!-- 设置独立密钥 -->
    <action name="设置独立密钥" interceptor="chkZmrLogin,chkZpmProject" path="/gitsolo/secret.htm" view="/ztmpl/zhiqimManager/template.htm" include="/zview/gitsolo/secret.zml"/> 
    <action name="获取独立密钥" interceptor="chkZmrLogin,chkZpmProject" path="/gitsolo/secretQuery.htm" view="/ztmpl/zhiqimManager/inner.htm" include="/zview/gitsolo/secretQuery.zml"/>
    
    <!-- 后端 -->
    <action name="仓库列表" interceptor="chkZmrLogin,chkZpmProject" path="/gitsolo/repository.htm" view="/ztmpl/zhiqimManager/template.htm" include="/zview/gitsolo/repository.zml" class="org.zhiqim.gitsolo.manage.RepositoryAction" method="list"/>
    <action name="增加仓库页面" interceptor="chkZmrLogin,chkZpmProject" path="/gitsolo/repositoryAdd.htm" view="/ztmpl/zhiqimManager/template.htm" include="/zview/gitsolo/repositoryAdd.zml" class="org.zhiqim.gitsolo.manage.RepositoryAction" method="add"/>
    <action name="增加仓库处理" interceptor="chkZmrLogin,chkZpmProject" path="/gitsolo/repositoryInsert.htm" redirect="/gitsolo/repository.htm" success="增加成功" class="org.zhiqim.gitsolo.manage.RepositoryAction" method="insert"/>
    <action name="修改仓库页面" interceptor="chkZmrLogin,chkZpmProject" path="/gitsolo/repositoryModify.htm" view="/ztmpl/zhiqimManager/template.htm" include="/zview/gitsolo/repositoryModify.zml" class="org.zhiqim.gitsolo.manage.RepositoryAction" method="modify"/>
    <action name="更新仓库处理" interceptor="chkZmrLogin,chkZpmProject" path="/gitsolo/repositoryUpdate.htm" redirect="/gitsolo/repository.htm" success="修改成功" class="org.zhiqim.gitsolo.manage.RepositoryAction" method="update"/>
    <action name="删除仓库处理" interceptor="chkZmrLogin,chkZpmProject" path="/gitsolo/repositoryDelete.htm" redirect="/gitsolo/repository.htm" success="删除成功" class="org.zhiqim.gitsolo.manage.RepositoryAction" method="delete"/>
    <action name="删除仓库处理" interceptor="chkZmrLogin,chkZpmProject" path="/gitsolo/repositoryMoveSelector.htm" view="/ztmpl/zhiqimManager/inner.htm" include="/zview/gitsolo/repositoryMoveSelector.zml" class="org.zhiqim.gitsolo.manage.RepositoryMoveSelectorAction"/>
    
    <action name="查询仓库提交日志" interceptor="chkZmrLogin,chkGitsoloRepo" path="/gitsolo/log.htm" view="/ztmpl/zhiqimManager/template.htm" include="/zview/gitsolo/log.zml" class="org.zhiqim.gitsolo.manage.LogAction"/>
    <action name="查看仓库文件列表" interceptor="chkZmrLogin,chkGitsoloRepo" path="/gitsolo/tree.htm" view="/ztmpl/zhiqimManager/template.htm" include="/zview/gitsolo/tree.zml" class="org.zhiqim.gitsolo.manage.TreeAction" />
    <action name="查看仓库文件内容" interceptor="chkZmrLogin,chkGitsoloRepo" path="/gitsolo/file.htm" view="/ztmpl/zhiqimManager/template.htm" include="/zview/gitsolo/file.zml" class="org.zhiqim.gitsolo.manage.FileAction" />
    
    <action name="分支列表" interceptor="chkZmrLogin,chkGitsoloRepo" path="/gitsolo/branche.htm" view="/ztmpl/zhiqimManager/template.htm" include="/zview/gitsolo/branche.zml" class="org.zhiqim.gitsolo.manage.BrancheAction" method="list"/>
    <action name="增加分支页面" interceptor="chkZmrLogin,chkGitsoloRepo" path="/gitsolo/brancheAdd.htm" view="/ztmpl/zhiqimManager/template.htm" include="/zview/gitsolo/brancheAdd.zml" class="org.zhiqim.gitsolo.manage.BrancheAction" method="add"/>
    <action name="增加分支处理" interceptor="chkZmrLogin,chkGitsoloRepo" path="/gitsolo/brancheInsert.htm" redirect="/gitsolo/branche.htm" success="增加成功" class="org.zhiqim.gitsolo.manage.BrancheAction" method="insert"/>
    <action name="修改分支页面" interceptor="chkZmrLogin,chkGitsoloRepo" path="/gitsolo/brancheModify.htm" view="/ztmpl/zhiqimManager/template.htm" include="/zview/gitsolo/brancheModify.zml" class="org.zhiqim.gitsolo.manage.BrancheAction" method="modify"/>
    <action name="修改分支处理" interceptor="chkZmrLogin,chkGitsoloRepo" path="/gitsolo/brancheUpdate.htm" redirect="/gitsolo/branche.htm" success="修改成功" class="org.zhiqim.gitsolo.manage.BrancheAction" method="update"/>
    <action name="删除分支处理" interceptor="chkZmrLogin,chkGitsoloRepo" path="/gitsolo/brancheDelete.htm" redirect="/gitsolo/branche.htm" success="删除成功" class="org.zhiqim.gitsolo.manage.BrancheAction" method="delete"/>
    
    <action name="标签列表" interceptor="chkZmrLogin,chkGitsoloRepo" path="/gitsolo/tag.htm" view="/ztmpl/zhiqimManager/template.htm" include="/zview/gitsolo/tag.zml" class="org.zhiqim.gitsolo.manage.TagAction" method="list"/>
    <action name="增加标签页面" interceptor="chkZmrLogin,chkGitsoloRepo" path="/gitsolo/tagAdd.htm" view="/ztmpl/zhiqimManager/template.htm" include="/zview/gitsolo/tagAdd.zml" class="org.zhiqim.gitsolo.manage.TagAction" method="add"/>
    <action name="增加标签处理" interceptor="chkZmrLogin,chkGitsoloRepo" path="/gitsolo/tagInsert.htm" redirect="/gitsolo/tag.htm" success="增加成功" class="org.zhiqim.gitsolo.manage.TagAction" method="insert"/>
    <action name="修改标签页面" interceptor="chkZmrLogin,chkGitsoloRepo" path="/gitsolo/tagModify.htm" view="/ztmpl/zhiqimManager/template.htm" include="/zview/gitsolo/tagModify.zml" class="org.zhiqim.gitsolo.manage.TagAction" method="modify"/>
    <action name="修改标签处理" interceptor="chkZmrLogin,chkGitsoloRepo" path="/gitsolo/tagUpdate.htm" redirect="/gitsolo/tag.htm" success="修改成功" class="org.zhiqim.gitsolo.manage.TagAction" method="update"/>
    <action name="删除标签处理" interceptor="chkZmrLogin,chkGitsoloRepo" path="/gitsolo/tagDelete.htm" redirect="/gitsolo/tag.htm" success="删除成功" class="org.zhiqim.gitsolo.manage.TagAction" method="delete"/>
    
</zhiqim-context>